.CheckoutSummary {
  text-align: center;
  width: 80%;
  margin: auto;
}

@media (min-width: 600px) {
  .CheckoutSummary {
    width: 500px;
  }
}
Button:first-child {
  margin-left: 10px;
  padding-left: 10px;
}
